@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
}

#mainContent{
    display: flex;
    width: 55%;
    height: 700px;
    align-items: center;
    justify-content: center;
}

#bienvenido{
    text-align: center;
}